:root {
    --color-white: rgb(255,255,255);
    --color-light: rgb(180,180,180);
    --color-dark: rgb(77,77,77);
    --color-primary: rgb(0,153,153);
    --color-secondary: rgb(153,0,153);
    --color-ternary: rgb(153,153,0);

}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    color:var(--color-white);
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
    color:var(--color-white);
}
h2{
    font-size: 2rem;
    text-transform: uppercase;
    color:var(--color-white);
}
h3{
    font-size:1.2rem;
    text-transform: uppercase;
    color:var(--color-primary);
}
p{
    color:var(--color-light);
}

/* Main wrapper */
div.main-wrapper{
    width: 70%;
    height: 100%;
    margin: auto;
    background-color: var(--color-dark);
    box-shadow: 0px 0px 50px 20px rgb(0,0,0,0.35);
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 600px){
    div.main-wrapper{
        width: 95%;
        margin: auto;
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

/* Sections */
div.section{
    border: 1px red dotted;
}
div.primary{
    background-color: var(--color-primary);
}
    div.primary p{
        color:var(--color-white);
    }
div.overflow{
    margin-left: -2rem;
    margin-right: -4rem;
}
@media screen and (max-width: 600px){
    div.overflow{
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }
}

div.header{
    margin-left: -4rem;
    margin-right: -4rem;
}
img.header{
    width:100%;
    height: 500px;
    object-fit:none;
}
div.header > div.text{
    margin-left:4rem;
    position: absolute;
    top: 100px;
    width: 25%;
}
div.tools{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div.tool{
    background-color: var(--color-light);
    width: 200px;
    height: 200px;
    margin: 25px;
}
/* Curriculum */
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.timeline::after{
    content:'';
    position: absolute;
    width: 6px;
    background-color: var(--color-primary);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.event{
    position: relative;
    background-color: inherit;
    width: 50%;
}
.event::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: var(--color-dark);
    border: 4px solid var(--color-primary);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.timeline > .left {
    left:0;
}
.timeline > .right {
    left:50%;
}
.timeline > .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--color-light);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--color-light);
}
.timeline > .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--color-light);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--color-light)transparent transparent;
}
.timeline > .right::after {
    left: -16px;
}
.timeline > .right > .content{
    margin-left: 40px
}
.timeline > .left > .content{
    margin-right: 40px
}
.timeline > .right > .dates{
    margin-left: -140px;
    float:left;
}
.timeline > .left > .dates{
    margin-right: -140px;
    float:right;
}
.event > .content{
    padding: 20px 30px;
    background-color: var(--color-light);
    position: relative;
    color: red;
}
@media screen and (max-width: 600px){
    .timeline{
        max-width: 600px;
    }
    .timeline::after{
        width: 6px;
        left: 140px;
        margin-left: -3px;
    }
    .event{
        width: 100%;
        margin-top: 10px;
    }
    .timeline > .left {
        left:140px;
    }
    .timeline > .right {
        left:140px;
    }
    .timeline > .left::before {
        left: 30px;
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--color-light)transparent transparent;
    }
    .timeline > .right::before {
        left: 30px;
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--color-light)transparent transparent;
    }
    .timeline > .right::after {
        left: -16px;
    }
    .timeline > .left::after {
        left: -16px;
    }
    .timeline > .right > .content{
        margin-left: 40px
    }
    .timeline > .left > .content{
        margin-left: 40px
    }
    .timeline > .right > .dates{
        margin-left: -140px;
        float:left;
    }
    .timeline > .left > .dates{
        margin-left: -140px;
        float:left;
    }
    .event > .content{
        padding: 20px 30px;
        background-color: var(--color-light);
        position: relative;
        color: red;
    }

}