
/* Brwser behavior annulation */
ul{
    margin-block-start: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    list-style-type: none;
}
a{
    color: inherit;
    text-decoration: none;
}
/*
h1{
    font-size:1.5em;
    margin: 0.1em;
}
h2{
    font-size:1.45em;
    margin: 0.1em;
}
p{
    font-size:1em;
    margin:0.1em;
}*/

/* General page layout */
* {
    box-sizing: border-box;
}
div.page{
    max-width: 1000px;
    margin: auto;
}
body{
    padding: 0;
    margin: 0;
}

div.row{
    display: flex;
    flex-wrap: wrap;
}
div.side{
    flex: 25%;
    display: flex;
    flex-direction: column;
}
div.main{
    flex: 75%;
    display: flex;
    flex-direction: column;
}
div.footer{
    background-color: var(--color-dark);
    color: var(--color-light);
}
@media screen and (max-width: 600px){
    div.row{
        flex-direction: column;
    }
    div.modal{
        width: 95%;
    }
}
@media screen and (max-width: 800px){
    div.side{
        flex: 50%;
    }
    div.main{
        flex: 50%;
    }
    div.modal{
        width: 90%;
    }
}
@media screen and (max-width: 1000px){
    div.side{
        flex: 33%;
    }
    div.main{
        flex: 66%;
    }
}

/* Tools block */
/*
div.tools{
    padding: 0.5em;
}

/* Programming block */
/*
div.programming{
    padding: 0.5em;
}

/* Languages block */
/*
div.languages{
    padding: 0.5em;    
}

/* Contact block */
/*
div.contact{
    padding: 0.5em;    
}

/* Jobs block */
/*
div.job{
    background-color: white;
    margin-bottom: 1em;
}
div.job-header{
    display: flex;
    flex-direction: row;    
}
div.job-period{
    font-style:italic;
}
div.job-company{
    font-style:italic
}
div.job-title{
    font-weight: bold;
}
div.job-body{
}
div.job-tasks{
    margin-top: .5em;
}
div.job-tasks-header{
    font-style: italic;
    cursor: pointer;
}
div.job-tasks-header:hover{
    background-color: lightgrey;
    color: black;
    border-bottom: 1px solid blue;
}
div.job-tasks-content{
    box-shadow: 0 5px 4px -4px rgba(0,0,0,.5) inset;
    padding-left: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
}

/* Modal */
.modal-wrapper{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal{
    position: relative;
    margin: auto;
    width: 80%;
    /*
    padding: 20px;
    color:white;
    border-radius:8px;
    border-width:thin;
    border-style:solid;
    border-color:#1a1a1a1a;
    background-color:#181818a8;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-image: url('media/noise.png');
    background-repeat: repeat;
    box-shadow: 0px 25.6px 57.6px rgb(0 0 0 / 14%), 0px 0px 16.4px rgb(0 0 0 / 12%);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    */
}
/*
.closeModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closeModal:hover, .closeModal:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
*/
/* Collapsible */
/*
.collapsible-trigger{
}
.collapsible-content{
    max-height:0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

